*{
	padding: 0;
	margin: 0;
  font-family: 'Oswald', sans-serif;
}
h1,h2,h3,p{
  padding: 0;
  margin: 0;
}
ul,ol{
  padding: 0;
  margin: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

header{
	background-color: #3D2B1F;
	box-shadow: 0 0 25px black;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}

.header{
	position: relative;
	display: flex;
	justify-content: space-between;
}

.logo>img{
		position: absolute;
  margin-top: 5px;
    width: 100px;
    
    background-color: #3D2B1F;
     border-radius: 15px;
padding: 10px;
}
.menu{
  display: flex;
  margin-right: 100px;
}
.menu-item{
  margin-right: 30px;
  padding: 18px 0;
}
.menu-item:last-child{
  margin: 0;
}
.meni-link{
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto';
}

footer{
margin-top: 80px;

}
footer{

	background-color: #3D2B1F;
	box-shadow: 0 0 25px black;

}
.footer{
	display: flex;
	justify-content: space-between;
  align-items: center;

}

.footer-nav>li{

	display: inline-block;	
}
.footer-nav>li>a{
    padding-right: 20px;
    text-decoration: none;
	color: white;
	font-size: 20px;
}
.footer-logo>img{
	padding: 20px 100px 20px 0px;
    height: 100px;
    
}
.copyright{
	color:white;
}
.glav{
	width: 1000px;
	height: 400px;
	box-shadow: 0 0 25px black;
	background-color: #3D2B1F;
	margin-top: 12%;
  margin-bottom:10%;
    margin-right:auto;
	margin-left:auto;
	display: flex
}
.glav>.logoglav{
	padding-top: 20px;
	padding-left: 50px;
}
.glav>.logoglav>img{
    height: 330px;
}
.glav>.textglav>p{
   color: white;
   font-size: 38px;
   padding-left: 70px;
   padding-top:48px;
   padding-right: 10px;
}
body{
    background-image: url(../img/aerial-view-lake-with-green-trees\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
  background-position:center;
 
}

.slov{
  margin-left: 0px;
  margin-top: 170px;
  width: 335px;
  height: 300px;
  float: left;

}
.region{
    text-align: justify;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #616564;

}
.zerkalo{
  margin-top: 50px;
  background-image: url(../img/основной\ кадор\ 1\(сов\ слои\)\ \(1\).png);
      background-repeat: no-repeat;
     margin-left: 500px;
      width: 956px;
height: 676px;
  
}
.osko1{
position: absolute;
margin-left: 355px;
margin-top: 85px;

}

.osko2{
position: absolute;
margin-left: 265px;
margin-top: 115px;
}
.osko3{

position: absolute;
margin-left: 265px;
margin-top: 300px;
 
}
.osko4{
  position: absolute;
  margin-left: 313px;
  margin-top: 365px;
}
.osko5{
  position: absolute;
  margin-top: 360px;
  margin-left: 425px;
}
.osko6{
  position: absolute;
  margin-left: 430px;
  margin-top: 240px;
}
.imosko{
  width: 200px;
}
.osko32{
  object-fit: contain;
}
.activ{
	fill: #0D4285 ;
}
.nonactiv{
  width: 100px;
  height: 100px;
    fill: white;
}
.nonactiv:hover{
  fill: #0D4285
}
div#belarus-map {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
svg{

  width: 920px;
   margin-top: auto;
}
.reg{
   width: 500px;
}
.reg2{
  width: 650px;
}
.reg3{
  width: 400px;
}
svg>text{
  cursor: pointer;
  white-space: nowrap;
}


